---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'IRANSansWeb';
  src: url(/assets/fonts/irsw/IRANSansWeb.eot);
  src: url(/assets/fonts/irsw/IRANSansWeb.eot?#iefix) format('embedded-opentype'),
       url(/assets/fonts/irsw/IRANSansWeb.otf) format('otf'),
       url(/assets/fonts/irsw/IRANSansWeb.svg#IRANSansWeb) format('svg'),
       url(/assets/fonts/irsw/IRANSansWeb.ttf) format('truetype'),
       url(/assets/fonts/irsw/IRANSansWeb.woff) format('woff'),
       url(/assets/fonts/irsw/IRANSansWeb.woff2) format('woff2');
}

/* Persian Wikipedia uses this:
 * pfont,'Iranian Serif','Iranian Sans',Tahoma,'Noto Serif','Droid Arabic Naskh','DejaVu Sans',serif !important;
 * Some latin fonts: "Abril Fatface", "Vollkorn", "Josefin Slab"
 * More beatiful open typefaces for latin are described at:
 * https://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html
 */

// Font stylesheets should be loaded in the header file
$base-font-family: 'Droid Arabic Naskh',IRANSansWeb,"PT Serif",IRANSansWeb,'Iranian Serif','Iranian Sans','DejaVu Sans',IRANSansWeb !important;
$alt-font-family: 'Noto Kufi Arabic','IRANSansWeb';

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: normal;
$spacing-unit:     30px;

body
{
    font-family:IRANSansWeb !important;
}

/* Palette from 
https://coolors.co/app/000000-14213d-fca311-e5e5e5-ffffff 
$brand-color:      #fca311;
$anti-color:       #e5e5e5;
$text-color:       #000000;
$background-color: #ffffff;
$header-color:     #14213d;
*/

/* Palett source:
https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
$brand-color:      #d90429;
$anti-color:       white;
$text-color:       #2b2d42;
$background-color: #ffffff;
$header-color:     #343434;

$grey-color:       gray;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Store asset directory to be used in imports
$assets-dir:	   '{{ "assets" | absolute_url }}';

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "pygments.css",
    "base",
    "layout",
    "post",
    "footer",
    "tagcloud",
    "print",
    "custom"
;
