@charset "UTF-8";
@import url(pygments.css);
@font-face { font-family: 'IRANSansWeb'; src: url(/assets/fonts/irsw/IRANSansWeb.eot); src: url(/assets/fonts/irsw/IRANSansWeb.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/irsw/IRANSansWeb.otf) format("otf"), url(/assets/fonts/irsw/IRANSansWeb.svg#IRANSansWeb) format("svg"), url(/assets/fonts/irsw/IRANSansWeb.ttf) format("truetype"), url(/assets/fonts/irsw/IRANSansWeb.woff) format("woff"), url(/assets/fonts/irsw/IRANSansWeb.woff2) format("woff2"); }

/* Persian Wikipedia uses this: pfont,'Iranian Serif','Iranian Sans',Tahoma,'Noto Serif','Droid Arabic Naskh','DejaVu Sans',serif !important; Some latin fonts: "Abril Fatface", "Vollkorn", "Josefin Slab" More beatiful open typefaces for latin are described at: https://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html */
body { font-family: IRANSansWeb !important; }

/* Palette from 
https://coolors.co/app/000000-14213d-fca311-e5e5e5-ffffff 
$brand-color:      #fca311;
$anti-color:       #e5e5e5;
$text-color:       #000000;
$background-color: #ffffff;
$header-color:     #14213d;
*/
/* Palett source:
https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
* { /*box-sizing: border-box;*/ }

html, body { margin: 0; height: 100%; min-height: 100%; }

body { display: flex; flex-direction: column; font-family: "Droid Arabic Naskh", IRANSansWeb, "PT Serif", IRANSansWeb, "Iranian Serif", "Iranian Sans", "DejaVu Sans", IRANSansWeb !important; font-size: 16px; line-height: normal; color: #2b2d42; background-color: #ffffff; overflow-wrap: break-word; }

main { flex: auto; }

header, footer { flex: none; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure { margin-bottom: 15px; }

h1, h2:not(.footer-heading), h3, h4, h5, h6 { margin-top: 2.1rem; color: #010101; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #343434; }

img { max-width: 100%; height: auto; vertical-align: middle; }

figure > img { display: block; }

figcaption { font-size: 14px; color: gray; }

ul { list-style-type: square; }

ol { list-style-type: persify; }

li > ul, li > ol { margin-bottom: 0; }

a { color: #343434; text-decoration: none; }

blockquote { font-family: "Noto Kufi Arabic", "IRANSansWeb"; font-size: x-large; font-style: italic; letter-spacing: -1px; color: gray; }

blockquote > p { border-right: 4px solid #fd7990; padding-right: 15px; }

pre { direction: ltr; border: 1px solid silver; border-radius: 3px; padding: 8px 12px; overflow-x: auto; }

pre > code { font-size: 15px; border: 0; padding-left: 0; }

table { width: 100%; border: 1px solid #ccc; border-spacing: 0; border-collapse: collapse; }

table tr { border-bottom: 1px solid #ddd; }

table td { padding: 5px; }

table tr:nth-child(even) { background-color: #f2f2f2; }

@counter-style abjad { system: additive;
  range: 1 1000;
  additive-symbols: 1000 "\63A", 900 "\638", 800 "\636", 700 "\630", 600 "\62E", 500 "\62B", 400 "\62A", 300 "\634", 200 "\631", 100 "\642", 90 "\635", 80 "\641", 70 "\639", 60 "\633", 50 "\646", 40 "\645", 30 "\644", 20 "\6A9", 10 "\649", 9 "\637", 8 "\62D", 7 "\632", 6 "\648", 5 "\FEEB", 4 "\62F", 3 "\62C", 2 "\628", 1 "\627\644\641"; }

@counter-style abjad-persian { system: extends persian;
  range: 1 1000;
  additive-symbols: 1000 "\63A", 900 "\638", 800 "\636", 700 "\630", 600 "\62E", 500 "\62B", 400 "\62A", 300 "\634", 200 "\631", 100 "\642", 90 "\635", 80 "\641", 70 "\639", 60 "\633", 50 "\646", 40 "\645", 30 "\644", 20 "\6AF", 10 "\649", 9 "\637", 8 "\62D", 7 "\698", 6 "\648", 5 "\FEEB", 4 "\62F", 3 "\686", 2 "\67E", 1 "\627\644\641";
  suffix: ". ";
  pad: 3 '-'; }

@counter-style persify { system: alphabetic;
  symbols: '۱' '۲' '۳' '۴' '۵' '۶' '۷' '۸' '۹';
  suffix: ". "; }

header, footer { background: linear-gradient(18deg, #d90429, #fd7990); background-size: 400% 400%; animation: AnimationName 30s ease infinite; }

@keyframes AnimationName { 0% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }

.wrapper { margin: 0 auto; max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); }

@media screen and (max-width: 800px) { .wrapper { width: 89vw; } }

header nav, footer nav { display: inline; margin-right: 1em; }

header nav a, footer nav a { color: white; font-size: small; }

.site-title { font-size: 26px; line-height: 56px; letter-spacing: -1px; color: white; }

.post-list { list-style: none; }

.post-list h2 { font-weight: bold; }

.post-list .post-list-item { margin-bottom: 30px; }

@media screen and (max-width: 600px) { .post-list { padding-right: 0px; } }

.post-list-mini { list-style: none; }

.post-list-mini a { color: #2b2d42; }

.post-list-mini .post-list-item { display: flex; }

.post-list-mini .list-meta-col { flex-basis: 120px; flex-shrink: 0; }

.post-list-mini .list-line { flex-grow: 1; }

.post-list-mini h1, .post-list-mini h2, .post-list-mini h3, .post-list-mini h4, .post-list-mini h5, .post-list-mini h6 { margin-top: 0; margin-bottom: 0; }

@media screen and (max-width: 600px) { .post-list-mini { padding-right: 1em; } }

.meta, .list-meta-col { font-size: 14px; color: gray; }

.list-meta-col { width: 160px; text-align: right; }

@media screen and (max-width: 400px) { .list-meta-col { display: none; } }

.post-list-header { font-size: 4em; }

#motto { color: white; vertical-align: calc(40%); }

.image-caption { text-align: center; color: gray; margin-top: 10px; }

.footnotes { font-size: small; font-family: "Noto Kufi Arabic", "IRANSansWeb"; }

.center { text-align: center; }

.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }

.icon > svg path { fill: gray; }

.button { border: none; padding: 5px 32px; background-color: #fc607b; border-radius: 2px; color: white; }

@media screen and (max-width: 600px) { #motto { display: none; } }

.a-pagination { font-feature-settings: "liga" 1,"lnum" 1; text-align: center; }

.a-pagination * { line-height: 1.3; font-weight: 500; display: inline-block; padding: .5em .75em; }

.a-pagination .is-active { font-size: x-large; }

.post-header { margin: 4em auto; }

.post-title { margin-bottom: 15px; letter-spacing: -1px; line-height: 1.5; text-align: center; font-weight: bold; font-size: 4em; color: #343434; }

@media screen and (max-width: 800px) { .post-title { font-size: 4em; } }

@media screen and (max-width: 600px) { .post-title { font-size: 2em; } }

.post-image { text-align: center; }

.post-image img { display: inline; }

.post-content { margin-bottom: 30px; }

.post-content ul, .post-content ol { margin-left: 15px; }

.post-content iframe { width: 100%; }

.post-content a { color: #a70320; }

.post-content figure { margin: 0 auto; text-align: center; max-width: 400px; }

#related-posts { background: #fff7f8; padding: 15px; }

#related-posts a { color: #2b2d42; }

#related-posts * { margin: 0; }

.pagination { margin-top: 1em; margin-bottom: 1em; padding-top: 1em; padding-bottom: 1em; display: flex; }

.pagination--pager.disabled { color: #fedee3; pointer-events: none; cursor: not-allowed; }

.pagination--pager { padding: 1em 2em; width: 50%; font-weight: bold; text-align: center; border: 1px solid #fedee3; border-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.pagination--pager:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }

#comments, #comments-form { font-size: .9rem; color: #404040; }

#comments article { display: flex; }

#comments article p { white-space: pre-wrap; }

#comments article blockquote { font-size: inherit; margin: 0; }

.comment-chain { border-bottom: 1px solid #f2f3f3; margin-bottom: 5px; background-color: #fff7f8; }

.comment-chain .sub-comment { margin: 5%; padding: 3%; font-size: smaller; background-color: white; }

.comment-chain .sub-comment p { margin-bottom: 0; }

.comment-chain .sub-comment blockquote > p { padding: 10px; }

@media screen and (max-width: 600px) { .comment-chain .sub-comment .comment-image-wrapper { display: none; } }

#comments-header { color: #750216; border-bottom: 1px solid #fedee3; text-align: center; font-size: 3em; }

@media screen and (max-width: 600px) { #comments-header { font-size: 2em; } }

.comment-image-wrapper { box-sizing: border-box; max-width: 55px; min-width: 55px; margin: 0.5em; overflow: hidden; }

.comment-body-wrapper { flex-grow: 1; padding: 5px; }

.comment-body-wrapper p { margin: 0; }

.comment-meta { display: flex; color: gray; }

.comment-meta a { color: gray; }

.reply { margin-right: 30px; }

#comment-form { background: #fff7f8; color: #43010d; margin-top: 15px; font-size: .9rem; padding: 15px; }

#comment-form label { display: block; margin-bottom: 1em; }

#comment-form input, #comment-form textarea { display: block; width: 100%; box-sizing: border-box; font-family: "Droid Arabic Naskh", IRANSansWeb, "PT Serif", IRANSansWeb, "Iranian Serif", "Iranian Sans", "DejaVu Sans", IRANSansWeb !important; font-size: small; color: #404040; border: 1px solid #fedee3; }

#comment-form input:focus, #comment-form textarea:focus { border-color: #f2f3f3; }

#comment-form button[type=submit] { font-family: "Noto Kufi Arabic", "IRANSansWeb"; }

#comment-form textarea { height: 10rem; resize: vertical; padding: 10px; }

#comment-form sup.required { color: #d90429; }

#comment-form #preview { font-size: small; color: #404040; padding: 10px; }

#comment-form #preview h1, #comment-form #preview h2, #comment-form #preview h3, #comment-form #preview h4, #comment-form #preview h5, #comment-form #preview h6 { color: #404040; margin: initial; }

#comment-form #preview p { white-space: pre-wrap; margin-top: 0; }

#comment-form #preview blockquote { font-size: inherit; }

footer { color: white; }

footer a { color: white; }

footer > .wrapper { display: flex; flex-direction: column; font-size: 15px; }

footer > .wrapper #footer-description { flex-basis: 50%; }

img#footer-gravatar { margin-top: 1em; clip-path: circle(); width: 100px; }

.social-media-list { display: flex; justify-content: space-evenly; list-style: none; padding: 0; }

.social-media-list img { width: 4em; }

.social-media-list li { text-align: center; display: flex; flex-direction: column; }

#build-time { font-family: monospace; font-size: x-small; display: flex; justify-content: center; color: #fdacba; }

@media screen and (max-width: 600px) { #footer-description, #footer-gravatar, #atom { display: none; } #license { font-size: xx-small; text-align: center; } }

#footer-extra { display: flex; justify-content: space-between; }

@media screen and (max-width: 600px) { #footer-extra { justify-content: center; } }

#atom img { width: 3em; }

/* Tag cloud sets. Numbers demonstrate repeat frequency for each tag */
#post-tags a { margin-left: 0.5em; }

#tag-cloud [class^=set-] { color: #2b2d42; }

#tag-cloud [class^=set-]:hover { color: #d90429; }

.set-1 { font-size: 0.7em; }

.set-2 { font-size: 0.8em; }

.set-3 { font-size: 0.9em; }

.set-4 { font-size: 1.0em; }

.set-5 { font-size: 1.1em; }

.set-6 { font-size: 1.2em; }

.set-7 { font-size: 1.3em; }

.set-8 { font-size: 1.4em; }

.set-9 { font-size: 1.5em; }

.set-10 { font-size: 1.6em; }

@media print { .site-header, .site-footer, #disqus_thread, #static-comments { display: none; } h1 { font-size: 18pt; } h2 { font-size: 16pt; color: #000; } }

/*# sourceMappingURL=main.css.map */